{{ define "main" }}
  <article>
    {{ if eq .Kind "term" }}
      <h1 class="taxonomy-title">Tag: {{ .Data.Term }}</h1>
    {{ else }}
      <h1 class="post-title">{{ .Params.title | default .Title }}</h1>
    {{ end }}
  <p>{{ .Params.description | default "" }}</p>
    <ul class="posts-list">
      {{ range $index, $page := where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ add $index 1 }}: {{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "folder") }}
            {{ with .Site.GetPage "section" .Section }}
              {{ .Params.title | default .Title }}
            {{ end }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
            {{- range .Params.tags -}}
              {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                <a class="tag" href="{{ .Permalink }}">{{ .Data.Term }}</a>
              {{ end }}
            {{- end }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
