.post-title {
  color: $lightest-color;
}

.post-meta > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
  font-size: 0.8em;

  > .icon {
    margin-right: 0.4em;
  }
}

.post-content {
  & > pre,
  .highlight {
    margin: 1em 0;
  }

  & > pre,
  .highlight > pre,
  .highlight > div {
    border-left: 0.4em solid rgba($primary-color, .8);
    padding: 1em 1em;
  }

  blockquote {
    border-left: 0.4em solid rgba($primary-color, .8);
    margin: 1em 0em;
    padding: .5em 1em;
    background: $darkest-color;

    p {
      margin: .5em 0;
    }
  }

  img {
    max-width: 100%;
  }
}

.numbered-sections {
  counter-reset: h1-counter;

  h1 {
    counter-reset: h2-counter;
  }

  h1:before {
    counter-increment: h1-counter;
    content: counter(h1-counter) ". ";
  }

  h2:before {
    counter-increment: h2-counter;
    content: counter(h1-counter) "." counter(h2-counter) ". ";
  }
}

.unnumbered-sections {
  h1:before {
    content: "⚬ ";
  }

  h2:before {
    content: "⚭ ";
  }
}

#toc-container {
  border: $lightest-color 1px solid;
  margin-top: 20px;
  padding-left: 20px;
  border-radius: 10px;
}

.todo {
  color: $warning-color;
}

table {
  border-top: $light-color 2px solid;
  border-bottom: $light-color 2px solid;
  border-collapse: collapse;

  th {
    border-bottom: $light-color 1px solid;
    padding: 10px;
  }

  td {
    padding: 10px;
  }
}

// Browsers seem to use a smaller default font-size with monospaced code
// blocks (like 80% of the size of normal text) and that looks pretty bad with
// small inline code-blocks in the middle of normal text (mainly because of
// the very noticeable difference in x-height). This CSS corrects that problem.
code {
  font-family: monospace,monospace;
  font-size: 1em;
  color: $secondary-color;
  background-color: $darkest-color;
  padding: 1px 5px 3px 5px;  // top right bottom left
  box-decoration-break: clone;
  border-radius: 5px;

  // Fixes iOS font sizing anomaly
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

pre {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0;
  overflow: auto;

  // A larger monospaced block of text (that isn't mixed with normal text)
  // generally looks heavier than normal text with the same font size. For this
  // reason using a smaller monospaced font size makes sense in this situation.
  code {
    font-size: .8em;
    color: rgba($light-color, .8);
    padding: 0px;
  }
}

img {
  max-height: 500px;
}
